.container {
  text-align: center;
  margin-top: 30px;
}

.container .logo {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.container .form .devider {
  text-align: center;
}

.container .form .btn-login {
  text-align: center;
}

.container .form .text-fields {
  margin-bottom: 20px;
}
